/* @media only screen and (max-width: 600px) { */
    *{
         /* background-color: #252B42; */
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: Montserrat;
    }
    .one{
      background: url(./img/hero-cover.3.png);
      background-color: black;
      height: 800px;
      background-size:cover;
      
    }
  ul li a{
      display: inline;
      text-decoration: none;

  }
  li{
      display: inline;
  }
  .one h2{
      color: white;
      text-align: center;
      margin-top: 220px;
      font-size: 60px;
      font-weight: bold;
  }
  .one p{
    color: white;
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}
button{
    background-color: #23A6F0;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    margin-left: 620px;
    width: 120px;

}
.but button{
    border-radius: 20px;
    border-style: 5px solid white;
    border-width: 70px;
    padding: 10px;
    margin-left: 780px;
    width: 120px;
    margin-bottom: 20px;
    background-color: transparent;
}
.two{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.col{
    border-style: solid;
    padding: 20px;
    margin: 10px;
    margin-bottom: 120px;
}
.three{
    display: flex;
    justify-content: center;
    background-color: rgb(145, 145, 91);
    height: 200px;
}
.four{
    border: tomato;
    border-width: 40px;
    border-style: 10px solid orange;
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #252B42;
    /* opacity: 0.2; */
}
.four img{
    margin-top: 80px;
    padding: 30px;
    height: 20%;
}
.five{
    display: flex;
    justify-content:center;
    padding: 30px;
}
.five img{
    height: 20px;
    width: 50px;
}
.six{
    background-color: burlywood;
    height: 100px;
}
.seven{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 30px;
}
.seven button{
    margin: 0px;
}
.eight{
    height: 600px;
    background-color: whitesmoke;

}
.eight h2 p{
    margin-top: 40px;
        margin-left: 200px;
}